/* Empty. Add your own CSS if you like */
html, body, .ion-app, .ion-content {
  background-color: transparent;
  width: 100%;
}

.controls{
  padding-top: 50px;
}

video{
  position: relative;
  width: 100%;
}
.video_container{
  position: relative;
  width: 100%;
}

.inner_text{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: blue;
  color: #fff;
  display: none;
}
